<table class="table table-striped table-bordered">
    <thead>
    <tr>
        <th>#</th>
        <th>标签</th>
        <th >题目</th>
        <th>试用系统</th>
        <th>时间</th>
        <th>&nbsp;</th>
    </tr>
    </thead>

    <tbody>
    {#foreach $T as record}
    <tr>
        <td>{$T.record.k_id}</td>
        <td>{$T.record.tag}</td>
        <td>{$T.record.title}</td>
        <td>{$T.record.system}</td>
        <td>{$T.record.date}</td>
        <td class="action-td">
            <a href="javascript:;" class="btn btn-small btn-warning">
                <i class="icon-ok"></i>
            </a>
            <a href="http://localhost:8080/del.do?k_id="+{$T.record.k_id} class="btn btn-small">
                <i class="icon-remove"></i>
            </a>
        </td>
    </tr>
    {#/for}
    </tbody>

</table>