<table border="0" class="table table-striped table-bordered">
    <thead>
    <tr>
        <th>#</th>
        <th>标签</th>
        <th >题目</th>
        <th>试用系统</th>
        <th>时间</th>
        <th>编辑</th>
        <!--<th>&nbsp;</th>-->
    </tr>
    </thead>

    <tbody>
    {#foreach $T as record}
    <tr>
        <td>{$T.record.k_id}</td>
        <td>{$T.record.tag}</td>
        <td><a href=/getKnowledge.do?kid={$T.record.k_id}>{$T.record.title}</a></td>
        <td>{$T.record.system}</td>
        <td>{$T.record.date}</td>
        <td class="action-td">
            <a id="editKno" href=knowledgeUpdate.html?kid={$T.record.k_id}  class="btn btn-small btn-warning">
                <i class="icon-ok"></i>
            </a>
            <a id="removeKno" onclick="removeKno({$T.record.k_id})" class="btn btn-small">
                <i class="icon-remove"></i>
            </a>
        </td>
        <!--<td  style="display: none;">{$T.record.k_id}</td>-->
    </tr>
    {#/for}
    </tbody>

</table>