<hr />

<ul id="main-nav" class="nav nav-tabs nav-stacked">

    <li class="active">
        <a href="./index.html">
            <i class="icon-home"></i>
            近期概况
        </a>
    </li>

    <li>
        <a href="./knowledgeManage.html">
            <i class="icon-pushpin"></i>
            知识管理
        </a>
    </li>

    <li>
        <a href="./knowledgeAdd.html">
            <i class="icon-th-list"></i>
            知识添加
        </a>
    </li>

    <li>
        <a href="./booMark.html">
            <i class="icon-th-large"></i>
            书签管理
            <!--<span class="label label-warning pull-right">5</span>-->
        </a>
    </li>

    <li>
        <a href="./bookMarkAdd.html">
            <i class="icon-th-large"></i>
            书签添加
            <!--<span class="label label-warning pull-right">5</span>-->
        </a>
    </li>
    <li>
        <a href="./personal.html">
            <i class="icon-user"></i>
            个人管理
        </a>
    </li>


</ul>

<hr />