<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx.xsd
    http://www.springframework.org/schema/mvc
    http://www.springframework.org/schema/mvc/spring-mvc.xsd
    http://www.springframework.org/schema/websocket
    http://www.springframework.org/schema/websocket/spring-websocket.xsd
    http://www.springframework.org/schema/task
    http://www.springframework.org/schema/task/spring-task-3.2.xsd
   ">

    <context:component-scan base-package="com.mapdic.share"/>
    <context:property-placeholder location="classpath:mysql.jdbc.properties"/>
    <!--定时器开关-->
    <task:annotation-driven />
    <!--<bean id="myTaskXml" class="com.mapdic.share.common.Tasks"></bean>-->
    <!--<task:scheduled-tasks>-->
        <!--&lt;!&ndash;-->
            <!--使用配置文件的方式-->
        <!--&ndash;&gt;-->
        <!--<task:scheduled ref="myTaskXml" method="myTest" cron="*/5 * * * * ?" />-->
    <!--</task:scheduled-tasks>-->
    <!-- 配置数据源-->
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="url" value="${jdbc.url}"/>
        <property name="driverClassName" value="${jdbc.driverClassName}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
    </bean>

     <!--mybatis文件配置，扫描所有mapper文件-->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="mapperLocations" value="classpath*:com/mapdic/share/**/*.xml"></property>
        <!--<property name="configLocation" value="classpath:mybatis-config.bak.xml"/>-->
    </bean>

     <!--spring与mybatis整合配置，扫描所有dao-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer" p:basePackage="com.mapdic.share.dao"
    p:sqlSessionFactoryBeanName="sqlSessionFactory"/>

    <!--  接口映射器 扫描指定的Dao -->
    <!--<bean id="userDao" class="org.mybatis.spring.mapper.MapperFactoryBean">-->
        <!--<property name="mapperInterface" value="com.mapdic.share.dao.UserDao"></property>-->
        <!--<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>-->
    <!--</bean>-->
    <!--事务管理器-->
    <bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"></property>
    </bean>
    <!--使用上面申明的事务管理器-->
    <tx:annotation-driven transaction-manager="txManager"/>

</beans>